@page "/counter"

<PageTitle>Temperatur</PageTitle>

<h1>Temperatur</h1>


<MudButtonGroup Color="Color.Primary" Variant="Variant.Outlined">
    <MudButton>Heute</MudButton>
    <MudButton>Woche</MudButton>
    <MudButton>Monat</MudButton>
    <MudButton>Jahr</MudButton>
</MudButtonGroup>

<div>
    <MudChart ChartType="ChartType.Line" ChartSeries="@Series" XAxisLabels="@XAxisLabels" Width="90%" Height="100%" ChartOptions="options"></MudChart>
</div>

@code {
    private ChartOptions options = new ChartOptions();
    public List<ChartSeries> Series = new List<ChartSeries>()
    {
        new ChartSeries() { Name = "Series 1", Data = new double[] { -4, 3, 17, 25, 30, 33, 35, 33, 27, 17, 10, 4 } },
    };
    public string[] XAxisLabels = { "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Okt", "Nov", "Dez" };

    Random random = new Random();
    protected override void OnInitialized()
    {
        //RandomizeData();
        options.InterpolationOption = InterpolationOption.NaturalSpline;
        options.YAxisFormat = "c2";
    }

    public void RandomizeData()
    {
        var new_series = new List<ChartSeries>()
        {
            new ChartSeries() { Name = "Series 1", Data = new double[9] },
        };
        for (int i = 0; i < 9; i++)
        {
            new_series[0].Data[i] = random.NextDouble() * 100;
        }
        Series = new_series;
        StateHasChanged();
    }

    void OnClickMenu(InterpolationOption interpolationOption)
    {
        options.InterpolationOption = interpolationOption;
        StateHasChanged();
    }


}