@page "/fetchdata"
@using SEVEN.Core.Models
@using SEVEN.MissionControl.Server.Data.Repositories.Interfaces
@inject IMeasurementRepository MeasurementRepository

<PageTitle>Messdaten</PageTitle>

<h1>Messdaten</h1>

<p>All deine Messdaten auf einen Blick.</p>

@if (_measurements == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <MudDataGrid Items="@_measurements" Hover="true" Striped="true" Filterable="true">
        <Columns>
            <PropertyColumn Property="x => x.Probe.Name" Title="Sonde" />
            <PropertyColumn Property="x => x.MeasurementType" Title="Type" />
            <PropertyColumn Property="x => x.Value" Title="Wert" />
            <PropertyColumn Property="x => x.Time.ToLongDateString()" Title="Datum" />
            <PropertyColumn Property="x => x.LocalTime.ToShortTimeString()" Title="Uhrzeit" />
        </Columns>
    </MudDataGrid>
}

@code {
    private IEnumerable<Measurement>? _measurements;

    protected override async Task OnInitializedAsync()
    {
        _measurements = await MeasurementRepository.GetMeasurements();
    }

}