@page "/"

<button onclick="window.location.href='http://localhost:5009/authentication/challenge/home';">
    GitHub
</button>


<button onclick="window.location.href='http://localhost:5009/authentication/me';">
      Me
    </button>

<PageTitle>Home</PageTitle>

<h2>Willkommen bei SEVEN - Deiner IoT Garten-Messdaten Plattform!</h2>
<br />
<h3>Entdecke die Magie Deines Gartens mit SEVEN</h3>

Liebe Gartenliebhaber und IoT-Enthusiasten,

Herzlich willkommen bei SEVEN, der innovativen Plattform, die Dir Einblicke in die verborgenen Schätze Deines Gartens ermöglicht! Hier tauchen wir ein in die faszinierende Welt des Internet of Things (IoT), um die Gesundheit Deiner grünen Oase besser zu verstehen und zu optimieren. SEVEN steht für "Sandberg Electric Vehicle Eden Network" – denn wir bieten mehr als nur Messdaten, wir schaffen ein intelligentes und vielseitiges Umfeld für Deinen Garten!
<br />
<h3>Erforsche Deinen Garten wie nie zuvor</h3>

Mit SEVEN kannst Du Deinen Garten auf eine völlig neue Art und Weise erleben. Unser innovatives Netzwerk von Sensoren misst eine Vielzahl von Parametern, darunter Temperatur, Luftfeuchtigkeit, Bodenfeuchte, Lichtintensität und vieles mehr. So erhältst Du präzise und aktuelle Informationen über die Bedingungen in Deinem Garten – egal, ob Du einen üppigen Blumengarten hegst, Obst und Gemüse anbaust oder stolzer Besitzer eines kunstvollen Bonsai-Baums bist.
<br />
<h3>Dein Garten, besser im Blick</h3>

SEVEN bietet Dir eine benutzerfreundliche und intuitive Benutzeroberfläche, über die Du Deine Gartenmessdaten jederzeit und überall abrufen kannst. Erhalte informative Grafiken und Diagramme, die Dir zeigen, wie sich die Bedingungen in Deinem Garten über die Zeit verändern. Du erhältst benutzerdefinierte Empfehlungen und Alarmmeldungen, damit Du rechtzeitig handeln kannst, um das Beste aus Deinem Garten herauszuholen.
<br />
<h3>Gemeinsam gärtnern – Die SEVEN Community</h3>

Bei SEVEN sind wir überzeugt, dass Gartenarbeit nicht nur eine Leidenschaft, sondern auch eine Gemeinschaftserfahrung ist. Tausche Dich mit anderen begeisterten Gärtnern in unserer blühenden Community aus, teile Deine Erfahrungen und lerne von anderen. Gemeinsam können wir unsere grünen Paradiese weiterentwickeln und zu noch blühenderen Landschaften machen!
<br />
<h3>Deine Daten sind geschützt</h3>

Wir bei SEVEN nehmen Datenschutz ernst. Deine persönlichen Informationen und Gartendaten werden streng vertraulich behandelt und nur mit Deiner Zustimmung für verbesserte Dienstleistungen und anonymisierte Analysen verwendet. Deine Privatsphäre steht bei uns an erster Stelle.
<br />
<h3>Tauche ein in die IoT-Gartenrevolution</h3>

Bereit, Deinen Garten auf eine Reise in die Zukunft mitzunehmen? Melde Dich noch heute bei SEVEN an und entdecke das Potenzial, das in Deinem Garten steckt. Lass uns gemeinsam die Magie der IoT-Gartenmessdaten entfesseln und eine grünere, lebendigere Welt erschaffen.
<br />
<br />
Dein SEVEN-Team