# authjs
AUTH_SECRET=8212a37e513c35e771d27d7480975236
AUTH_TRUST_HOST=true
AUTH_URL=http://localhost:5173

# authjs provider
GITHUB_ID=
GITHUB_SECRET=

# SvelteKit
ORIGIN=http://localhost:5173
PROTOCOL_HEADER=x-forwarded-proto
HOST_HEADER=x-forwarded-host

# API URL
API_URL=http://localhost:5034